{% extends 'base.html' %}

{% block content %}

  
<h2>Įvykdytų užsakymų sąrašas</h2>
<h3> <style>
  h3 {
    text-shadow: 0px 0px 5px white;
  }
  </style>

{% csrf_token %}

<table class = "table" >
  <thead>
    <tr>
      <th>Vardas</th>
      <th>Pavarde</th>
      <th>El. paštas</th>
      <th>Marke</th>
      <th>Modelis</th>
      <th>Metai</th>
      <th>Spalva</th>
      <th>Pašalinti</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for klientas in klientai %}
    {% if klientas.ivykdytas == True %}
      <tr>

     

            <td><a href="{% url 'redagavimas' klientas.pk %}">{{ klientas.klientas_vardas }}</a></td>
            <td>{{ klientas.klientas_pavarde }}</td>
            <td>{{ klientas.klientas_email }}</td>
            <td>{{ klientas.marke }}</td>
            <td>{{ klientas.modelis }}</td>
            <td>{{ klientas.metai }}</td>
            <td>{{ klientas.spalva }}</td>
            <td>
      
            <h2>
            <a href="{% url 'pasalinimas' klientas.pk %}" class="btn btn-danger btn-lg"> Pašalinti</a>
            </td>
          </h2>
   
     
      </tr>     
  {% endif %}
  {% empty %}
        <tr>
          <td colspan="7">Nėra užsakymu</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</h3>

{% endblock %}